*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "jaldi", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Basic styling for header and nav */
header {
    background-color: #FFF6D6;
    padding: 1.75rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}

.logo img {
    height: 50px; /* Adjust as needed */
}

.nav-links {
    list-style-type: none;
    display: flex;
    
}

.nav-links li {
    padding: 0px 2rem;
    
}

.logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    
}

h1, h2, h3{
    font-family: "Jaldi", sans-serif;
    font-weight: 700;
    font-style: normal;

    
}

h1{
    font-size: xx-large;
}

h2, h3{
    font-family: "Kosugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
nav h1{
    color: #5ACC17;
}

.nav-links li a{
    font-family: "Jaldi", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #5ACC17;
    font-size: 1.25rem;
}

.search-icon img, .cart-icon img{
    height: 1.25rem;
    width: 1.25rem;
    
}

.cart-icon{
    padding-left: 30px;
}


#uji-logo{
    padding: 0 1rem 0 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.nav-links li a {
    position: relative;
    text-decoration: none;
}

/* Create line effect on hover */
.nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -1.5px; /* Adjust distance from link */
    left: 0;
    width: 0;
    height: 2px; /* Adjust thickness of the line */
    background-color: #5ACC17; /* Change color as needed */
    transition: width 0.3s ease; /* Adjust duration as needed */
}

.nav-links li a:hover::before {
    width: 100%;
}


ul li ul.dropdown li{
    display: block;
    padding: 0.5rem;
    
}

ul li ul.dropdown{
    padding: 0.5rem;
    position: absolute;
    background-color: #242325;
    margin-top: 0.65rem;
    display:none;
    border-radius: 0.25rem;
    color: #fff;
}



ul li:hover ul.dropdown{
    display: block;
    z-index: 999;
}

.carousel{
    position: relative;
}

.carousel__item{
    height: 50rem;
    background: grey;
    color: white;
    display: none;
    justify-content: center;

}

.carousel__item h2{
    font-size: 3rem;
    font-weight: 200;
}

.carousel__item h3{
    font-size: 1rem;
    font-weight: 100;
}
.carousel__item--selected{
    display: block;
}

.carousel__nav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    
}

.carousel__button {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}

.carousel__button--selected {
    background:  rgba(255, 255, 255, 0.7);
    
}

#image-1{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/matcha-co-pC16vUGYCL4-unsplash.jpg);
    background-size: cover;
    background-position: center center;
}

#image-2{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/jason-leung-f3uWanPu_rU-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    
}

#image-3{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/bala-karthikeya-pavan-guda-rfObRW_1YXE-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    
}
.carousel__text{
    margin-left: 5rem;
    margin-top: 12rem;
    display: inline-block;
    
    position: absolute;
}

.carousel__text a{
    text-decoration: none;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0rem 1rem;
    border-radius: 0.25rem;
    font-family: "jaldi", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    position: relative;
    top: 2.5rem;
}

.carousel__text a:hover{
    background-color: #5ACC17;
}

.carousel__text h2 {
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 5rem;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.product {
    width: 30rem; /* Adjust as needed */
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff6d6;
    width: 23rem;
}

.product:hover{
    background-color: #242325;
    color: #fff;
}

.product img {
    width: 368px;
    height: 368px;
    object-fit: cover;
}

.product h3, .product p{
    margin: 1rem;
}

.product h3{
    font-size: 1.25rem;
}

.cart {
    flex-grow: 1;
}

.cart h2 {
    margin-bottom: 10px;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    margin-bottom: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -500px; /* Initially hidden */
    width: 500px;
    height: 100%;
    background-color: #f4f4f4;
    z-index: 1000;
    transition: right 0.3s ease;
}

.sidebar button {
    margin-top: 20px;
    margin-right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar h2 {
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar.active {
    right: 0;
}


.shop-header-container{
    display: block;
    text-align: center;
    padding: 3rem 7rem;
    
}


.shop-header-container h2{
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.shop-header-container p{
border-bottom: 2px solid #525252;
padding-bottom: 1rem;
}

.cart-item-image{
    width: 5rem;
}


.cart-items li{
    display: flex;
    justify-content: space-between;
}

.atc-button{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}


.atc-button:hover{
    background-color: #5ACC17;
    color: #fff;
    border: 3px solid #fff;
}

.categories-bar{
    text-align: center;
}

.categories{
    display: flex;
    justify-content: center;

}

.categories li a{
    padding: 0 2rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: #242325;
    font-family: "Jaldi", sans-serif;
    
}

.categories li{
    border-left: 1px solid #242325;
    padding: 0.5rem 0;
}

.categories li:last-child{
    border-right: 1px solid #242325;
}

.categories li:hover{
    border-top: 0.3rem solid #5ACC17;
} 

.categories a.active {
    background-color: #5ACC17; /* Change to your desired color */
    color: #fff;

}


img.cart-item-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.box{
    background-color: #fff6d6;
    display: flex;
    cursor: pointer;
    border-radius: 1.5rem;
    align-items: center;
    padding: 10px 30px;
}

.box:hover{
    background-color: #fff
}

.box:hover input{
    width: 300px;
}

.box input{
    width:0;
    outline: none;
    border: none;
    transition:0.8s;
    background: transparent;
}


.cart-total {
    display: block;
    font-size: 1.3em;
    text-align: right;
    border-top: 1px solid #242325;
    padding: 10px 0;
    margin-left: 20px;
    padding-right: 10px;
}

.sidebar h2{
    font-size: 1.75rem;
    font-weight: 500;
    border-bottom: 1.25px solid #242325;
    padding: 10px 0;
}